@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body, #root, .App, .cards {
  height: 100%;
}

.App {
  text-align: center;
  font-family: "Ubuntu", Monaco, monospace;
  background-color: #94C7C8;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #40474E;
  height: 150px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.stats {
  display: flex;
}

.stat,.stat-tension,.stat-kill-switch {
  padding: 0 30px;
}

.cards {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  height: 100%;
}

.card {
  max-width: 29%;
  padding: 100px 10px 0 10px;
}

.card img {
  height: 360px;
}

.App-header img {
  height: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gray-out {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

input::-moz-focus-inner {
  border: 0;
}

.tension {
  color: #B152C8;
}

.debt {
  color: #D53031;
}

.kill {
  color: #3a688b;
}

.info {
  font-size: 2em;
  padding: 150px 0 0 0;
}
